<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center justify-between w-full">
        <div class="w-full text-white" get-empresa get-anio></div>
        <div class="w-full items-center">
          <div class="flex items-baseline space-x-4">
            <a href="./" data-navactive="1" data-tail="navlink">Home</a>
            <a href="./demo1.html" data-navactive="2" data-tail="navlink">Ejemplo 1</a>
            <a href="./demo2.html" data-navactive="3" data-tail="navlink">Ejemplo 2</a>
            <a href="./contacto.html" data-navactive="4" data-tail="navlink">Contacto</a>
            <button data-tail="btn colorRed" data-click="pruebaComp">Acciones</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


