<footer class="bg-white rounded-lg shadow m-4 dark:bg-neutral-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-neutral-500 sm:text-center dark:text-neutral-400">© 2023 <a href="" class="hover:underline" data-value="empresa"></a>. All Rights Reserved.
      </span>
        <div get-slot="algo">
            <!-- Aqui se insertaria el contenido de elemento con el data-slot -->
        </div>   
    </div>
  </footer>