<nav class="bg-gray-200 dark:bg-gray-800">
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between h-16">
    <div class="flex items-center justify-between w-full">
      <div class="w-full text-gray-800 dark:text-white" get-titulo get-anio></div>
      <div class="w-full items-center">
        <div class="flex items-center space-x-4">
          <a href="/" data-navactive="1" data-tail="navlink">Home</a>
          <a href="/contacto/" data-navactive="2" data-tail="navlink">Contacto</a>
          <button data-tail="btn dark" data-click="functionNavbar">Acciones</button>
          <button data-tail="btn dark">theme</button>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>


